

.card
{
    background: #dddddd;
    box-shadow: 1px 1px 8px 2px #555555;
    border-radius: 8px;
    padding: 20px 10px;
    margin-top: 20px;
    min-height: 50px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: black;
}


.isDone {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: white;
}
